Located in {{rental.city.name}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
available by arrangement through {{rental.owner}}. Cost per night: $<span class="bold">{{rental.cost}}</span>.
<br>
<p><img src={{rental.image}} alt={{rental.type}}></p>

<button {{action 'delete' rental}}>Delete</button>
